.app {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f5f7fb;
  min-height: 100vh;
  color: #222; 
  padding-top: 60px;
}

h1 {
  color: #333;
  margin: 60px;
}

.tabs button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background: #ddd;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s; 
  color: black; 
  margin-top: 30px;
}

.tabs button:hover {
  background: #bbb;
}

.loading {
  color: #4f46e5;
  font-weight: bold;
}  

.app.dark {
  background: #121212;
  color: #ffffff;
}
 

.app.dark .dark-toggle {
  background: #eee;
  color: #000;
}

 

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.header h1 {
  margin: 0 auto;
}

 
.dark-toggle {
  position: absolute;
  right: 20px;
  top: 0;
  padding: 8px 8px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  background: #ffffff;
  color: white;
  border: none;
}